h1{
    color: green;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: blueviolet;
    padding: 50px;
    border: 10px palevioletred solid;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}

.divClass {
    color: darkred;
}